<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Media Passport, <%= @user.username %></h1>
    <p>
      You have successfully signed up to MediaPassport.<br/>
    </p>
    <p>
      To activate your account, just follow
      <a href="<%= activate_user_url(@user, {a: @user.session_token}) %>">this link</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
