<%= comment.author.username + ": " + comment.content %>
<% if signed_in? && comment.author != current_user %>
  <%= link_to "Reply", new_comment_url(parent: comment.id, post: comment.post_id) %>
<% elsif comment.author == current_user %>
  <%= link_to "Edit", edit_comment_url(comment) %>
<% end %>

<ul>
  <% comment_tree[comment.id].each do |child| %>
    <li>
      <%= render partial: "comments/comment", locals: {comment: child, comment_tree: comment_tree} %>
    </li>
  <% end %>
</ul>
