<a class="episode-link" href="#shows/<%=encodeURIComponent(show.get('title').replace(/ /g,'_'))%>/episodes/<%= encodeURIComponent(episode.get('title').replace(/ /g,'_'))%>"><%= episode.escape('title') %></a>
