/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
  h1, h2, h3, h4, nav, strong, form,
  a, ul, li, html, section, article, p, img,
  section, aside, figure {
   margin: 0;
   padding: 0;
   border: 0;
   font: inherit;
   font-family: Helvetica;
   color: inherit;
   background: inherit;
   text-align: inherit;
   vertical-align: inherit;
   text-decoration: inherit;
   box-sizing: inherit;
  }

  a, button, select {
   cursor: pointer;
  }

  input, textarea {
    outline: 0;
  }

  ul, li {
   list-style: none;
  }

  table, td, th {
    border-spacing: 0 !important;
    border-collapse: separate !important;
    padding: 0;
  }

  .group:after {
   content: "";
   display: block;
   clear: both;
  }

  body {
   background: #73C8E1;
   color: #444;
   margin: 0;
  }


  #header {
   display: block;
   width: 100%;
   border-bottom: 3px solid #444;
  }

  #primary {
   width: 900px;
   margin: 0 auto;
   background: #FEFFF5;
   min-height: 500px;
   border-right: 3px solid #444;
   border-left: 3px solid #444;
   border-bottom: 3px solid #444;
  }

  .main-container {
  margin: 0 15px 15px 30px;
  padding-top: 15px;
  }

  .navigation {
   margin: 0 auto;
   width: 900px;
   border-right: 3px solid #444;
   border-left: 3px solid #444;
   height: 42px;
   padding-bottom: 10px;
   background: #FEFFF5;
  }

  .navigation a {
   display: block;
   padding: 10px 20px;
  }

  .navigation > .title {
   float: left;
   font-size: 32px;
   font-weight: 700;
   border-right: 3px solid #444;
   background: #2EB3DB;
  }

  .navigation > .title:hover {
    color: #FEFFF5;
  }

  .navigation > .base {
   font-size: 14px;
   font-color: #EEEEEE;
   display: block;
   width: 268px;
   padding: 10px 15px 10px 10px;
   float: left;
   font-style: italic;
   border-right: 3px solid #444;
   text-align: center;
  }

  .navigation > .base .links {
    float: left;
    width: 140px;
  }

  .base > .links > a {
    padding: 3px 0 3px 0 ;
    color: #2EB3DB;
    font-weight: 700;
    background: #444;
    border-radius: 5px;
  }

  .base > .links > a:hover {
    color: #FEFFF5;
    background: #2EB3DB;
  }

  .navigation > .base button {
   margin-left: 20px;
  }

  .navigation .search {
   float: left;
   padding-left: 10px;
  }

  .search #search-bar {
   margin: 0 5px;

   padding: 10px 0 10px 5px;
   font-size: 24px;
   width: 190px;
   color: #444;
   background: #FEFFF5;
   border-radius: 5px;
  }

  #search-bar:hover {
    color: #BDBDBD;
  }

  #search-bar:focus {
   outline: 0;
   color: #444;
  }

  button {
   background: #BDBDBD;
   border-radius: 8px;
   border: none;
   font-size: 24px;
   font-weight: 300;
   border-right: 3px solid #444;
   border-top: 1px solid #444;
  }

  button:hover {
   background: #444;
   color: #FEFFF5;
   border-right: 3px solid #BDBDBD;
   border-top: 1px solid #BDBDBD;;
  }

  button:focus {
    outline: 0;
  }

  h1.landing-title {
    margin: 20px 0;
    font-size: 32px;
    display: block;
    text-align: center;
    font-weight: 700;
  }

  .user-form {
    width: 400px;
    background: #E0E0E0;
    border: 3px solid #444;
    border-radius: 10px;
    margin: 10px auto;
    padding: 5px;
  }

  .user-form > h1 {
    font-size: 32px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
  }

  .user-form > button {
    float: right;
    margin: 10px;
  }

  .user-form > label {
    font-size: 20px;
    display: block;
  }

  .user-form > label > p {
    font-size: 16px;
    padding-left: 10px;
  }

  .user-form > input {
    margin: 5px 10px;
    font-size: 20px;
    padding: 5px;
    width: 350px;
  }

  .search-results > .results-list {
    float: left;
  }

  .search-results > .paginators {
    margin: auto;
    text-align: center;
  }

  .paginators a {
    display: inline-block;
    margin: 10px 20px;
    font-weight: 700;
    padding: 10px;
    background: #BDBDBD;
    border-radius: 8px;
    border-right: 3px solid #444;
    border-top: 1px solid #444;
  }

  .paginators a:hover {
   background: #444;
   color: #FEFFF5;
   border-right: 3px solid #BDBDBD;
   border-top: 1px solid #BDBDBD;;
  }

  .search-results > h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
  }

  .search-results > .results-list li {
    margin-bottom: 20px;
    padding: 0 10px;
    border-bottom: 1px solid #444;
  }

  .search-results > .results-list a {
    font-size: 24px;
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: 5px;
  }

  .search-results > .results-list p {
    font-size: 18px;
    font-weight: 300;
    padding: 0 10px 5px 10px;
  }

  .results-list > li.no-results{
    border-bottom: none;
    margin: 20px;
    font-size: 20px;
  }

  .page-basics {
    border-bottom: 3px solid #444;
    vertical-align: center;
  }

  .page-basics h1 {
    font-size: 36px;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 10px;
  }

  .page-info > p {
    float: left;
    width: 400px;
    margin-right: 50px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .page-info > .show-pic {
    float: left;
  }

  .show-pic > img {
    background-size: contain;
    width: 300px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 50px;
  }

  .page-info > .episode-pic {
    float: left;
  }

  .watchlist-toggle {
    margin: 20px auto;
    display: block;
  }

  .most-recent {
    display: block;
    margin: 10px auto;
    font-weight: 700;
    border: 2px solid #444;
    padding: 5px;
    border-radius: 10px;
    width: 210px;
    text-align: center;
  }

  .most-recent:hover {
    background: #444;
    color: #FEFFF5;
  }

  .episode-pic > img {
    background-size: contain;
    width: 340px;
    height: auto;
    margin: 10px 0 10px 50px;
  }

  select {
    margin: 20px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-right: 3px solid #444;
    font-size: 24px;
    font-weight: 700;
    height: 30px;
    padding: 0 5px;
  }

  select:focus {
    outline: 0;
  }

  .episodes-container > .episodes-list {
    float: left;
    width: 300px;
    margin-right: 45px;
    border: 1px solid #444;
  }

  .episodes-list > li {
    font-size: 20px;
    border: 1px solid #444;
    overflow: hidden;
  }

  .episode-list-item a {
    display: block;
    width: 100%;
    padding: 3px;
  }

  .episode-list-item a:hover {
    background: #444;
    color: #FEFFF5;;
  }

  .episodes-container > .episode-preview {
    float: left;
    width: 500px;
    background: #E0E0E0;
    border: 3px solid #444;
  }

  .preview {
    padding: 10px;
  }

  .preview > h2 {
    font-size: 28px;
    text-decoration: underline;
    margin-bottom: 10px;
  }

  .preview > span {
    font-size: 18px;
    display: block;
  }

  .preview > p {
    font-weight: 300;
    margin: 10px 0;
  }

  .preview > .preview-image {
    margin: 10px 0;
    padding-left: 50px;
  }

  .preview > .preview-image > img {
    width: 400px;
    height: auto
  }

  .rating-info {
    background: #FEFFF5;
    border: 3px solid #444;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .preview > .rating-info {
    float: right;
  }

  .page-info > .rating-info {
    float: left;
  }

  .show-rating-info {
    display: block;
    background: #FEFFF5;
    border: 3px solid #444;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    position: relative;
    left: 100px;
  }

  .rating-info > p,
  .show-rating-info > p {
    font-style: italic;
    text-align: center;
  }

  .rating-info > p:last-child {
    font-size: 12px;
  }

  .rating-info > strong,
  .show-rating-info > strong {
    font-size: 24px;
    text-align: center;
    display: block;
    margin: 5px 0;
    color: #2EB3DB;
    font-weight: 700;
  }

  .rating-info > .rating select{
    margin: auto;
    display: block;
  }

  .show-return,
  .episode-return {
    float: right;
    background: #BDBDBD;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border-right: 3px solid #444;
    font-size: 20px;
    font-weight: 400;
  }

  .show-return:hover,
  .episode-return:hover {
    background: #444;
    color: #FEFFF5;
    border-right: 3px solid #BDBDBD;
  }

  section.schedule-section,
  section.schedule-list-section,
  section.user-schedule-section {
    width: 725px;
    height: 645px;
    overflow: scroll;
    background: #FEFFF5;
    margin: 0 auto;
    border: 3px solid #444;
  }

  .schedule-container {
    width: 721px;
    margin: 0 auto;
  }

  .schedule-tabs {
    margin-top: 20px;
  }

  .schedule-tabs > button {
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .schedule-tabs > button.active-schedule-view {
    background: #2EB3DB;
  }

  .schedule {
    table-layout: fixed;
    margin: auto;
    overflow: scroll;
  }

  table.schedule td,
  table.schedule th {
    border: 1px solid #444;
  }

  table.schedule th {
    background: #444;
    color: #2EB3DB;
    border: 1px solid #FEFFF5;
  }

  .network-name {
    padding: 0;
    border-spacing: 0;
  }

  tr.grid-row {
    border: 3px solid #444;
  }

  .schedule-cell-new div {
    margin: auto;
    height: 100px;
  }

  .schedule-cell-new {
    background: #73C8E1;
  }

  .schedule-cell-new a {
    padding-top: 20px;
    display: block;
    width: 100%;
    height: calc(100% - 20px);
    text-align: center;
  }

  .schedule-cell-new:hover,
  .episode-schedule-item a:hover,
  .personal-item a:hover {
    color: #FEFFF5;
    background: #444;
  }

  .schedule-cell-new:hover strong,
  .episode-schedule-item a:hover strong,
  .personal-item a:hover strong {
    color: #73C8E1;
  }

  .schedule-cell-new strong,
  .episode-schedule-item strong,
  .personal-item strong {
    color: #FEFFF5;
    text-shadow: -1px 0 #444, 0 1px #444, 1px 0 #444, 0 -1px #444;
    font-size: 18px;
  }

  .network-container {
    float: left;
    width: 200px;
    margin: 10px;
    border: 1px solid #444;
    border-radius: 5px;
  }

  .network-container .network-title {
    text-align: center;
    color: #FEFFF5;
    background: #2F515B;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 0;
    border-bottom: 1px solid #444;
  }

  .episode-schedule-item {
    margin: 0 5px 0 5px;
  }

  .episode-schedule-item a {
    padding: 5px 0;
    display: block;
  }

  .episode-schedule-item strong {
    text-align: center;
    display: block;
  }

  ul.network-schedule {
    background: #73C8E1;
    padding: 5px 0;
  }

  .personal-item {
    position: relative;
    border-bottom: 1px solid #444;
    border-top: 1px solid #444;

  }

  .personal-item a {
    display: block;
    float: left;
    width: 278px;
    background: #73C8E1;
    font-size: 20px;
    height: 100%;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    position: absolute;
    top: 0px;
    bottom: 0px;
  }

  .personal-item strong {
    text-align: center;
    display: block;
    font-size: 24px;
    margin-top: 10px;
  }

  .personal-item p {
    margin-left: 10px;
    display: block;
  }

  .extra-info {
    width: 390px;
    min-height: 100px;
    float: right;
    padding: 10px;
  }

  .extra-info span {
    font-style: italic;
    font-weight: 700;
  }

  .extra-info p {
    display: block;
  }

  .new-post {
    float: right;
    width: 350px;
    background: #E0E0E0;
    border: 3px solid #444;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
  }

  .new-post > h3 {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
  }

  .new-post > label {
    font-size: 20px;
    font-weight: 300;
    padding-left: 10px;
    margin-bottom: 10px;
    position: relative;
    font-style: italic;
  }

  .new-post > label > input {
    position: relative;
    font-size: 20px;
    left: 9px;
    width: 256px;
    margin: 10px 0;
    padding: 5px;
  }

  .new-post > textarea {
    font-size: 14px;
    padding: 5px;
    width: 256px;
  }

  .body-label {
    bottom: 50px;
  }

  .new-post > .create-post {
    float: right;
  }

  .post-list {
    float: left;
  }
  .post-list li {
    margin: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    min-height: 50px;
  }

  .post-list a,
  .post-list p,
  .post-list strong {
    display: block;
    overflow: hidden;
  }

  .post-list .post-item-container span {
    float: left;
    display: block;
    background: #444;
    font-size: 20px;
    font-weight: 300;
    color: #FEFFF5;
    padding: 5px;
  }

  .post-list .post-item-container strong {
    float: left;
    font-size: 20px;
    margin: 5px;
  }

  .post-list .post-item-container p {
    float: left;
  }

  .post-display {
    width: 800px;
    margin: 0 auto;
  }

  .post-form .new-post {
    float: right;
  }

  .post-details {
    margin: 10px 0;
    display: block;
    float: left;
    width: 780px;
    min-height: 60px;
    padding: 10px 0 10px 10px;
    border: 1px solid #444;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }

  .post-details > h1 {
    font-size: 28px;
    text-align: center;
  }

  .author {
    float: right;
    display: block;
    padding: 5px;
    height: 100%;
    background: #2EB3DB;
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 5px;
  }

  .author > p {
    position: relative;
    top: 0;
    text-align: right;
  }

  .author > img {
    border: 1px solid #444;
    margin-bottom: 10px;
  }

  .endorsement a {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background: #444;
    border-radius: 8px;
    color: #E0E0E0;
  }

  ul.comment-list {
    width: calc(100% - 60px);
    margin-left: 40px;
    float: left;
    display: block;
  }

  ul.comment-list .comment-container {
    display: block;
    width: calc(100% - 20px);
    min-height: 60px;
    padding: 10px 0 10px 10px;
    border: 1px solid #444;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }

  .nested-list {
    width: calc(100% - 40px);
    margin-left: 40px;
    min-width: 500px;
  }

  .comment-container > .content,
  .comment-container > .show-stuff {
    margin: 10px;
  }

  .endorsement {
    position: absolute;
    padding: 5px;
    top: 0;
    left: 0;
  }

  .nested-comment-form > form,
  .new-comment > form {
    display: block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #444;
    width: 300px;
    border-radius: 5px;
  }

  .nested-comment-form label,
  .new-comment label {
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
  }

  .nested-comment-form textarea,
  .new-comment textarea {
    margin: 10px auto;
    font-size: 16px;
    width: 240px;
    padding: 10px;
    display: block;
  }

  .nested-comment-form button,
  .new-comment button {
    float: right;
  }

  .form-title {
    font-size: 24px;
    font-weight: 700;
  }

  .watchlist-items,
  .recommendations {
    border: 1px solid #444;
    margin: auto;
  }

  .watchlist-items button,
  .recommendations button {
    margin: 0;
  }

  .watchlist-items a,
  .recommendations a {
    padding: 20px;
    font-size: 20px;
    display: block;
    font-weight: 700;
  }

  .watchlist-items a:hover,
  .recommendations a:hover {
    background: #444;
    color: #E0E0E0;
  }

  .watchlist-items td,
  .recommendations td {
    text-align: center;
    border: 1px solid #444;
  }

  .watchlist-items th,
  .recommendations th {
    border-bottom: 1px solid #444;
    background: #444;
    color: #2EB3DB;
    padding: 5px;
  }

  .personal-average {
    font-size: 24px;
    font-weight: 700;
    color: #2EB3DB;
  }

  .watchlist-header {
    padding: 20px;
    font-size: 28px;
    font-weight: 700;
  }

  .errors {
    width: 100%;
    background: orange;
    font-weight: 300;
    color: #444;
  }

  .errors li {
    padding: 5px 15px;
    text-align: center;
    border: 1px solid #444;
    margin: 10px 0;
  }

  footer {
    margin: auto;
    width: 900px;
    border-right: 3px solid #444;
    border-left: 3px solid #444;
    border-bottom: 3px solid #444;
    background: #FEFFF5;
    color: #ccc;
  }

  footer strong {
    float: left;
    display: block;
    padding: 10px;
  }

  footer p {
    float: right;
    display: block;
    padding: 10px;
  }

  footer a:hover {
    color: #444;
  }

  .search-episode-tag {
    display: inline-block;
    padding: 5px;
    background: #A89D12;
    border-radius: 5px;
    font-style: italic;
    font-weight: 700;
  }

  .search-show-tag {
    display: inline-block;
    padding: 5px;
    background: #E14673;
    border-radius: 5px;
    font-style: italic;
    font-weight: 700;
  }

  .modal {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
  }

  .watchlist-remove-confirm {
    background: #FEFFF5;
    min-height: 150px;
    width: 400px;
    position: relative;
    left: calc(50% - 200px);
    top: 150px;
    border: 5px solid #444;
    border-radius: 10px;
  }

  .watchlist-remove-confirm h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 5px 0;
    text-align: center;
  }

  .watchlist-remove-confirm p {
    font-size: 18px;
    margin: 5px 10px;
  }

  .watchlist-remove-confirm .buttons {
    width: 220px;
    margin: 10px auto;
  }

  .buttons button {
    margin-right: 10px;
  }



  .invis {
    display: none;
  }
