/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  h1, h2, h3, h4, nav, strong, form,
  a, ul, li, html, section, article, p, img,
  section, aside, figure {
   margin: 0;
   padding: 0;
   border: 0;
   font: inherit;
   font-family: Helvetica;
   color: inherit;
   background: inherit;
   text-align: inherit;
   vertical-align: inherit;
   text-decoration: inherit;
   box-sizing: inherit;
  }

  a, button, select {
   cursor: pointer;
  }

  input, textarea {
    outline: 0;
  }

  ul, li {
   list-style: none;
  }

  .group:after {
   content: "";
   display: block;
   clear: both;
  }

  body {
   background: #E0E0E0;
   color: #444;
   margin: 0;
  }


  #header {
   display: block;
   width: 100%;
   border-bottom: 3px solid #444;
  }

  #primary {
   width: 900px;
   margin: 0 auto;
   background: #FEFFF5;
   min-height: 500px;
   border-right: 3px solid #444;
   border-left: 3px solid #444;
   border-bottom: 3px solid #444;
  }

  .main-container {
  margin: 0 15px 15px 30px;
  padding-top: 15px;
  }

  .navigation {
   margin: 0 auto;
   width: 900px;
   border-right: 3px solid #444;
   border-left: 3px solid #444;
   height: 42px;
   padding-bottom: 10px;
   background: #FEFFF5;
  }

  .navigation a {
   display: block;
   padding: 10px 20px;
  }

  .navigation > .title {
   float: left;
   font-size: 32px;
   font-weight: 700;
   border-right: 3px solid #444;
   background: #2EB3DB;
  }

  .navigation > .title:hover {
    color: #FEFFF5;
  }

  .navigation > .base {
   font-size: 14px;
   font-color: #EEEEEE;
   display: block;
   width: 268px;
   padding: 10px 15px 10px 10px;
   float: left;
   font-style: italic;
   border-right: 3px solid #444;
   text-align: center;
  }

  .navigation > .base .links {
    float: left;
    width: 140px;
  }

  .base > .links > a {
    padding: 3px 0 3px 0 ;
    color: #2EB3DB;
    font-weight: 700;
    background: #444;
    border-radius: 5px;
  }

  .base > .links > a:hover {
    color: #FEFFF5;
    background: #2EB3DB;
  }

  .navigation > .base button {
   margin-left: 20px;
  }

  .navigation .search {
   float: left;
   padding-left: 10px;
  }

  .search #search-bar {
   margin: 0 5px;

   padding: 10px 0 10px 5px;
   font-size: 24px;
   width: 190px;
   color: #444;
   background: #FEFFF5;
   border-radius: 5px;
  }

  #search-bar:hover {
    color: #BDBDBD;
  }

  #search-bar:focus {
   outline: 0;
   color: #444;
  }

  button {
   background: #BDBDBD;
   border-radius: 8px;
   border: none;
   font-size: 24px;
   font-weight: 300;
   border-right: 3px solid #444;
   border-top: 1px solid #444;
  }

  button:hover {
   background: #444;
   color: #FEFFF5;
   border-right: 3px solid #BDBDBD;
   border-top: 1px solid #BDBDBD;;
  }

  button:focus {
    outline: 0;
  }

  .search-results > h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .search-results > .results-list li {
    margin-bottom: 20px;
    padding: 0 10px;
    border-bottom: 1px solid #444;
  }

  .search-results > .results-list a {
    font-size: 24px;
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: 5px;
  }

  .search-results > .results-list p {
    font-size: 18px;
    font-weight: 300;
    padding: 0 10px 5px 10px;
  }

  .page-basics {
    border-bottom: 3px solid #444;
    vertical-align: center;
  }

  .page-basics h1 {
    font-size: 36px;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 10px;
  }

  .page-info > p {
    float: left;
    width: 400px;
    margin-right: 50px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .page-info > .show-pic {
    float: left;
  }

  .show-pic > img {
    background-size: contain;
    width: 300px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 50px;
  }

  .page-info > .episode-pic {
    float: left;
  }

  .watchlist-toggle {
    margin: 20px auto;
    display: block;
  }

  .most-recent {
    display: block;
    margin: 10px auto;
    font-weight: 700;
    border: 2px solid #444;
    padding: 5px;
    border-radius: 10px;
    width: 210px;
    text-align: center;
  }

  .most-recent:hover {
    background: #444;
    color: #FEFFF5;
  }

  .episode-pic > img {
    background-size: contain;
    width: 340px;
    height: auto;
    margin: 10px 0 10px 50px;
  }

  select {
    margin: 20px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-right: 3px solid #444;
    font-size: 24px;
    font-weight: 700;
    height: 30px;
    padding: 0 5px;
  }

  select:focus {
    outline: 0;
  }

  .episodes-container > .episodes-list {
    float: left;
    width: 300px;
    margin-right: 45px;
    border: 1px solid #444;
  }

  .episodes-list > li {
    font-size: 20px;
    border: 1px solid #444;
    overflow: hidden;
  }

  .episode-list-item a {
    display: block;
    width: 100%;
    padding: 3px;
  }

  .episode-list-item a:hover {
    background: #444;
    color: #FEFFF5;;
  }

  .episodes-container > .episode-preview {
    float: left;
    width: 500px;
    background: #E0E0E0;
    border: 3px solid #444;
  }

  .preview {
    padding: 10px;
  }

  .preview > h2 {
    font-size: 28px;
    text-decoration: underline;
    margin-bottom: 10px;
  }

  .preview > span {
    font-size: 18px;
    display: block;
  }

  .preview > p {
    font-weight: 300;
    margin: 10px 0;
  }

  .preview > .preview-image {
    margin: 10px 0;
    padding-left: 50px;
  }

  .preview > .preview-image > img {
    width: 400px;
    height: auto
  }

  .preview > .rating-info {
    float: right;
    background: #FEFFF5;
    border: 3px solid #444;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    top: -28px;
  }

  .rating-info > p {
    font-style: italic;
    text-align: center;
  }

  .rating-info > p:last-child {
    font-size: 12px;
  }

  .rating-info > strong {
    font-size: 24px;
    text-align: center;
    display: block;
    margin: 5px 0;
    color: #2EB3DB;
    font-weight: 700;
  }

  .show-return {
    float: right;
    background: #BDBDBD;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border-right: 3px solid #444;
    font-size: 20px;
    font-weight: 400;
  }

  .show-return:hover {
    background: #444;
    color: #FEFFF5;
    border-right: 3px solid #BDBDBD;
  }

  section.schedule-section {
    width: 730px;
    height: 660px;
    overflow: scroll;
    background: #E0E0E0;
    margin: 0 auto;
    border: 3px solid #444;
  }

  .schedule-container {
    width: 721px;
    margin: 0 auto;
  }

  .schedule-tabs {
    margin-top: 20px;
  }

  .schedule-tabs > button {
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .schedule-tabs > button.active-schedule-view {
    background: #2EB3DB;
  }

  .schedule {
    table-layout: fixed;
    margin: auto;
    overflow: scroll;
  }

  .network-name {
    padding: 0;
    border-spacing: 0;
  }

  tr.grid-row {
    border: 3px solid #444;
  }

  .schedule-cell-new > div {
    border: 1px solid #444;
    height: 150px;
  }

  .new-post {
    float: right;
    width: 390px;
    background: #E0E0E0;
    border: 3px solid #444;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
  }

  .new-post > h3 {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
  }

  .new-post > label {
    font-size: 20px;
    font-weight: 300;
    padding-left: 10px;
    margin-bottom: 10px;
    position: relative;
    font-style: italic;
  }

  .new-post > label > input {
    position: relative;
    font-size: 20px;
    left: 9px;
    width: 256px;
    margin: 10px 0;
  }

  .body-label {
    bottom: 50px;
  }

  .new-post > .create-post {
    float: right;
  }



  .invis {
    display: none;
  }
