<ul class="errors"></ul>
<label for="comment_content">
  Body
  <textarea id="comment_content" name="content" rows="8" cols="40"><%=comment.escape('content')%></textarea>
</label>

<button name="submit">Submit</button>
