<a href="#shows/<%=encodeURIComponent(episode._show.get('title').replace(/ /g, '_'))%>/episodes/<%=encodeURIComponent(episode.get('title').replace(/ /g, '_'))%>">
  <%= episode.escape('title') %>
  <%= episode._show.escape('title') %>
</a>
