<h1>Landing Page - Under Construction</h1>

<article class="schedule-container">
  <div class="schedule-tabs">
  <button class="grid-switch" type="grid">Full Grid</button>
    <% if (signedIn) { %>
      <button class="user-switch" type="personal">Your List</button>
    <% } %>
    <button class="list-switch" type="list">Full List</button>
  </div>
</article>
