<button class="sign-in">Sign In</button>
<button class="sign-up">Sign Up</button>

<form class="search">
  <label>
    Search:
    <input type="text" name="query">
  </label>

  <button>Submit</button>
</form>
