<div class="post-item-container group">
  <span><%= post.escape('total_points') %></span>
  <a href="#posts/<%=post.id%>">
    <strong><%=post.escape('title')%></strong>
    <br>
    <br>
    <p>
      <%= post.escape('content') %>
    </p>
  </a>
</div>
