<form class="new-post">
  <h3>New Post</h3>
  <ul class="errors"></ul>
  <label>
    Title
    <input type="text" name="title">
  </label>
  <br>
  <label class="body-label" for="post-content">Body</label>
  <textarea name="content"
            id="post-content"
            rows="8"
            cols="40"></textarea>

  <button class="create-post">Submit</button>
</form>
