<h1><%=show.escape('title')%></h1>
<p>
  <%= show.escape('description') %>
</p>
<img src="<%=show.escape('image_url')%>" alt="" />

<select class="season-selector" name="season">
</select>

<ul class="episodes-list">

</ul>
