<article class="page-basics">
  <h1><%=show.escape('title')%></h1>
  <section class="page-info group">
    <p>
      Description:
      <%= show.escape('description') %>
    </p>
    <% if (show.escape('endorsed') === "true") {%>
      Watching
    <% } else { %>
      Not Watching
    <% } %>
    <div class="show-pic">
      <img src="<%=show.escape('image_url')%>"/>
    </div>
  </section>
</article>


<select class="season-selector" name="season"></select>
<section class="episodes-container group">
  <ul class="episodes-list"></ul>
  <div class="episode-preview"></div>
</section>
