<article class="show-basics">
  <h1><%=show.escape('title')%></h1>
  <section class="show-info group">
    <p>
      Description:
      <%= show.escape('description') %>
    </p>

    <div class="show-pic">
      <img src="<%=show.escape('image_url')%>"/>
    </div>
  </section>
</article>


<select class="season-selector" name="season"></select>

<ul class="episodes-list"></ul>

<div class="episode-preview"></div>
