<% if (signing_in) { %>

  <h1>Sign In</h1>
  <ul class="errors"></ul>
<% } else { %>

  <h1>Sign Up</h1>
  <ul class="errors"></ul>
  <label for="user_email">
    Email
  </label>
  <input id="user_email" type="text" name="email">

  <label for="user_avatar">
    Avatar
  </label>
  <input type="file" name="avatar" id="user_avatar">
  <br>

<% } %>

<label for="user_username">
  Username
  <% if (!signing_in) { %>
    <br>
    <p>
      (Length: 5 minimum, 18 maximum)
    </p>
  <% } %>
</label>
<input id="user_username" type="text" name="username">

<br>

<label for="user_password">
  Password
  <% if (!signing_in) { %>
    <br>
    <p>
      (Length: 6 minimum, 30 maximum)
    </p>
  <% } %>
</label>
<input id="user_password" type="password" name="password">

<br>

<button>Submit</button>
