<% if (this.watchlist.length === 0) { %>
  <h2 class="disclaimer">
    There are no shows on your Watchlist that air today, so why don't you add
     some more!
  </h2>
<% } %>

<ul class="watched-show-episodes">

</ul>

<div class="schedule-preview">

</div>
