<h1 class="watchlist-header">Watchlist</h1>
<table class="watchlist-items">
  <tr>
    <th>Show</th>
    <th>Most Recent Episode</th>
    <th>Your Average Rating</th>
  </tr>
</table>
<div class="rec-container">
  <h1 class="watchlist-header">Top Recommendations</h1>
  <h2 class="info">Come back frequently to see your recommendations change.</h2>
  <table class="recommendations">
    <tr>
      <th>Show</th>
      <th>Most Recent Episode</th>
      <th>Your Average Rating</th>
    </tr>
  </table>
</div>

<div class="modal">
  <div class="watchlist-remove-confirm">
    <h1>Removal Confirmation</h1>
    <p>
      Are you sure you want to remove <strong>SHOW TITLE</strong> from your watchlist?
    </p>
    <div class="buttons group">
      <button class="modal-cancel">Cancel</button>
      <button class="modal-confirm">Confirm</button>
    </div>
  </div>
</div>
