<h1 class="watchlist-header">Watchlist</h1>
<table class="watchlist-items">
  <tr>
    <th>Show</th>
    <th>Recent Episode</th>
  </tr>
</table>
<div class="rec-container">
  <h1 class="watchlist-header">Recommendations</h1>
  <ul class="recommendations">
    <li class="info">Come back frequently to see your recommendations change.</li>
  </ul>
</div>
