<h1 class="watchlist-header">Watchlist</h1>
<table class="watchlist-items">
  <tr>
    <th>Show</th>
    <th>Most Recent Episode</th>
    <th>Your Average Rating</th>
  </tr>
</table>
<div class="rec-container">
  <h1 class="watchlist-header">Top Recommendations</h1>
  <h2 class="info">Come back frequently to see your recommendations change.</h2>
  <table class="recommendations">
    <tr>
      <th>Show</th>
      <th>Most Recent Episode</th>
      <th>Your Average Rating</th>
    </tr>
  </table>
</div>
