<h1>Watchlist</h1>
<ul class="watchlist-items"></ul>
<div class="rec-container">
  <h1>Recommendations</h1>
  <ul class="recommendations">
    <li class="info">Come back frequently to see your recommendations change.</li>
  </ul>
</div>
